@import url('./ant/card.css');
@import url('./ant/tag.css');

:root {
  user-select: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    appearance: none;
    width: 0;
  }
}

.bg-mk {
  --size: 20px;
  --color: rgba(80, 159, 255, 0.2);
  --color-2: rgba(255, 255, 255, 0);
  background:
    repeating-linear-gradient(to left, var(--color), var(--color) 1px, var(--color-2) 1px, var(--color-2) var(--size)),
    repeating-linear-gradient(to top, var(--color), var(--color) 1px, var(--color-2) 1px, var(--color-2) var(--size));
  background-color: #ffffffff;
}

.bg-book {
  /* background:
    repeating-radial-gradient(circle at 50% 0,
      rgba(255, 255, 255, 1),
      rgba(255, 0, 0, 0) 100%); */
}