@import url('./ant/card.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-mk {
  color: white;
  background-color: #00000099;
}

.bg_svg {
  /* background: url('/bg.svg');
  background-size: 100% 100%; */
}
.bg-book{
  cursor: pointer;
  /* background: url('/bg.svg');
  background-size: 100% 100%; */
}