@import url('./var.css');
@import url('./ant/btn.css');
@import url('./ant/card.css');
@import url('./ant/input.css');
@import url('./ant/list.css');
@import url('./ant/popover-inner.css');
#app{
    height: 100vh;
    background-color: var(--VITE_THEME_ONE_BG);
    /* background: radial-gradient(at 87.76281325813878% 59.59132838204795%, hsla(191.1504424778761, 94.9579831932773%, 23.333333333333332%, 1) 0%, hsla(191.1504424778761, 94.9579831932773%, 23.333333333333332%, 0) 100%), radial-gradient(at 45.28008162660259% 34.7245202492504%, hsla(28.965517241379324, 53.37423312883436%, 68.03921568627452%, 1) 0%, hsla(28.965517241379324, 53.37423312883436%, 68.03921568627452%, 0) 100%), radial-gradient(at 31.722203537891236% 59.69793219908475%, hsla(355.56650246305423, 85.65400843881858%, 53.529411764705884%, 1) 0%, hsla(355.56650246305423, 85.65400843881858%, 53.529411764705884%, 0) 100%), radial-gradient(at 82.13411140415975% 85.65994710128146%, hsla(191.1504424778761, 94.9579831932773%, 23.333333333333332%, 1) 0%, hsla(191.1504424778761, 94.9579831932773%, 23.333333333333332%, 0) 100%), radial-gradient(at 83.5498039205467% 35.4432114124593%, hsla(28.965517241379324, 53.37423312883436%, 68.03921568627452%, 1) 0%, hsla(28.965517241379324, 53.37423312883436%, 68.03921568627452%, 0) 100%);             */
}
.ant-app{
    height: 100%;
}